/* app/javascript/styles/grill.scss */

/* Bootstrap (opcional, caso use) */
@import "~bootstrap/scss/bootstrap";

/* Aqui você pode colar/recriar o CSS do tema
   ou ir importando os arquivos do tema conforme você copiar para o projeto. */
